<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>

    <div>
        <b><p>
            Thanks for submmitting! You have now submitted {{request.session.count}} times!
        </p></b>
        <b>Submitted Information</b>
        <ul>
            <li>Name: {{request.session.name}}</li>
            <li>Dojo Location: {{request.session.dojos}}</li>
            <li>Favorite Language: {{request.session.favLan}}</li>
            <li>Comments: {{request.session.comment}}</li>
        </ul>
        <br>
        <form action="/survey_form/back" method="post">
            {% csrf_token %}
            <input type="submit" value="Go Back">
        </form>
    </div>
    
</body>
</html>